header{
    width: calc(100%-1em);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4em 0 .4em .4em;
    background: white;
}
header h1{
    font-size: .95rem;
}
header ul{
    font-size: .65rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header ul li a{
    padding: .35em .7em;
    font-weight: bold
}
