section{
    overflow: hidden;

    width: calc(100%-1.8em);
    box-sizing: border-box;
    padding: 1em;
}
section p{
    display: block;
    width: 90%;
    font-size: .9rem;
  }
section h1, section p{
    color: white;
    margin: .7rem 0 ;
}
section .btn{
    margin: .5rem 0;
}
