section{
    overflow: hidden;
    grid-template-columns: auto;
    display: grid;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
}
section p{
    display: block;
    width: 90%;
    font-size: .9rem;
  }
section h1, section p{
    color: white;
    margin: 0 0 .7rem 0 ;
}
section h1{
    margin: .1em 0
}
section .btn{
    margin: 0;
}
